* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  color: aliceblue;
  background-color: aqua;
  margin: 39px;
  padding: 39px;
}

.container {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

.new {
  color: chartreuse;
  height: 100px;
}
